license_key={{ newrelic_license_key }}
hostname={{ inventory_hostname }}

{% if group_names|length > 1 %}
labels={% for i in group_names %}{% if i != "ungrouped" %}Ansible:{{ i }};{% endif %}{% endfor %}
{% endif %}

logfile={{ newrelic_logfile }}

{% if newrelic_proxy|default(False) != False %}
proxy={{ newrelic_proxy }}
{% else %}
#proxy=
{% endif %}

ssl={{ newrelic_ssl }}

{% if newrelic_ssl_ca_bundle|default(False) != False %}
ssl_ca_bundle={{ newrelic_ssl_ca_bundle }}
{% else %}
#ssl_ca_bundle=/path/to/your/bundle.crt
{% endif %}

{% if newrelic_ssl_ca_path|default(False) != False %}
ssl_ca_path={{ newrelic_ssl_ca_path }}
{% else %}
#ssl_ca_path=/etc/ssl/certs
{% endif %}

# Default: /tmp/nrsysmond.pid
pidfile={{ newrelic_pidfile }}

# Default: collector.newrelic.com
collector_host={{ newrelic_collector_host }}

timeout={{ newrelic_timeout }}
